// CONFIG
PORT=3000
CORS=*
NODE_ENV=development

// MONGO
DB_USER=db_user
DB_PASSWORD=Yyx3WbqaLAg0EFY0
DB_HOST=cluster0.levef.mongodb.net
DB_NAME=videos_db

// USERS
DEFAULT_ADMIN_PASSWORD=
DEFAULT_USER_PASSWORD=

// AUTH
AUTH_JWT_SECRET=

// API KEYS
PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=

mongodb+srv://db_user:<password>@cluster0.levef.mongodb.net/<dbname>?retryWrites=true&w=majority

const MongoClient = require('mongodb').MongoClient;
const uri = "mongodb+srv://db_user:<password>@cluster0.levef.mongodb.net/<dbname>?retryWrites=true&w=majority";
const client = new MongoClient(uri, { useNewUrlParser: true });
client.connect(err => {
  const collection = client.db("test").collection("devices");
  // perform actions on the collection object
  client.close();
});